#variable "server_user" {
#  type = string
#  description = "User used to login with SSH to remote server"
#  default = ""
#}
#
#variable "server_password" {
#  type = string
#  description = "Private key used to login with SSH to remote server"
#  default = <<-EOT
#    -----BEGIN OPENSSH PRIVATE KEY-----
#    ...
#    -----END OPENSSH PRIVATE KEY-----
#  EOT
#}
#
#variable "access_key" {
#  type = string
#  description = "API Key : Name"
#  default = ""
#}
#
#variable "secret_key" {
#  type = string
#  description = "API Key : Key"
#  default = ""
#}
#
#variable "project_id" {
#  type = string
#  description = "Project ID" # https://console.scaleway.com/project/settings
#  default = ""
#}
